<div class="slide-bar">
      <div class="slide-bar__header">
        <div class="app-slideBar">
          <div class="app-slideBar__left">
            <img src="../Shared/img/common/wheel.svg" alt="" class="icon" />
          </div>
          <div class="app-slideBar__right">
            <h1 class="name-app">RetailPro</h1>
            <p class="title-nameApp">Inventory & POS</p>
          </div>
        </div>
      </div>
        <div class="slide-bar__Content">
        <p class="slide-bar__label">Navigation</p>
        <!-- menu button Dashboard -->
        <a href="../AdminFE/dashboard.html" ng-if="canShow('dashboard')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/dashboard.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Dashboard</p>
            </div>
          </div>
        </a>
        <!-- menu button POS -->
        <a href="../AdminFE/pos.html" ng-if="canShow('pos')"
          ><div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/pos.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">POS</p>
            </div>
          </div>
        </a>
        <!-- menu button Products -->
        <a href="../AdminFE/products.html" ng-if="canShow('products')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/product.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Products</p>
            </div>
          </div>
        </a>
        <!-- menu button Categories -->
        <a href="../AdminFE/categories.html" ng-if="canShow('categories')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/category.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Categories</p>
            </div>
          </div>
        </a>
        <!-- menu button Promotions -->
        <a href="../AdminFE/promotions.html" ng-if="canShow('promotions')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/promotion.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Promotions</p>
            </div>
          </div>
        </a>
        <!-- menu button Customers -->
        <a href="../AdminFE/customers.html" ng-if="canShow('customers')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/customer.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Customers</p>
            </div>
          </div>
        </a>
        <!-- menu button Suppliers -->
        <a href="../AdminFE/suppliers.html" ng-if="canShow('suppliers')">
          <div class="slide-bar__MenuButton slide-bar__MenuButton--active">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/supplier.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu-active">Suppliers</p>
            </div>
          </div>
        </a>
        <!-- menu button Purchase Orders -->
        <a
          href="../AdminFE/purchaseorders.html"
          ng-if="canShow('purchaseOrders')"
        >
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/purchaseorder.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Purchase Orders</p>
            </div>
          </div>
        </a>
        <!-- menu button StockCard -->
        <a href="../AdminFE/stockcard.html" ng-if="canShow('purchaseOrders')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/stock.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Stock Management</p>
            </div>
          </div>
        </a>
        <!-- menu button Goods Receipts -->
        <a href="../AdminFE/goodsreceipts.html" ng-if="canShow('greceipts')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/goodReceipt.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Goods Receipts</p>
            </div>
          </div>
        </a>
        <!-- menu button Goods Issues -->
        <a href="../AdminFE/goodsissues.html" ng-if="canShow('gissues')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/goodIssues.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Goods Issues</p>
            </div>
          </div>
        </a>
        <!-- menu button Sales -->
        <a href="../AdminFE/sales.html" ng-if="canShow('sales')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/sales.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Sales</p>
            </div>
          </div>
        </a>
        <!-- menu button Returns -->
        <a href="../AdminFE/returns.html" ng-if="canShow('returns')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/return.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Returns</p>
            </div>
          </div>
        </a>
        <!-- menu button Payments & Debts -->
        <a href="../AdminFE/payments.html" ng-if="canShow('payments')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/payments.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Payments & Debts</p>
            </div>
          </div>
        </a>
        <!-- menu button Reports -->
        <a href="../AdminFE/reports.html" ng-if="canShow('reports')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/report.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Reports</p>
            </div>
          </div>
        </a>
        <!-- menu button Audit Log -->
        <a href="../AdminFE/auditlog.html" ng-if="canShow('auditLog')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img
                src="../Shared/img/common/auditlog.svg"
                alt=""
                class="icon"
              />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Audit Log</p>
            </div>
          </div>
        </a>
        <!-- menu button Users -->
        <a href="../AdminFE/users.html" ng-if="canShow('users')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/user.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Users</p>
            </div>
          </div>
        </a>
        <!-- menu button Settings -->
        <a href="../AdminFE/settings.html" ng-if="canShow('settings')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
                <img src="../Shared/img/common/setting.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">Settings</p>
            </div>
          </div>
        </a>
      </div>
      <div class="slide-bar__footer">
        <div class="app-slide-bar">
          <div class="ava">
            <img class="ava" src="../Shared/img/common/ava.svg" alt="" />
          </div>
          <div class="info">
            <p class="name">{{currentUser.fullname}}</p>
            <p class="role">{{currentUser.role}}</p>
          </div>
        </div>
      </div>
    </div>