<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />

  <!-- css -->
  <link rel="stylesheet" href="../Shared/css/return.css" />
  <script src="../Shared/angular/angular.min.js"></script>
  <script src="../Shared/angular/global.js"></script>
  <script src="../Shared/angular/return.js"></script>
  <script src="../Shared/angular/translation.js"></script>
  <!-- Thư viện ExcelJS và FileSaver -->
  <script src="https://cdn.jsdelivr.net/npm/exceljs@4.3.0/dist/exceljs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

  <title>Returns</title>
</head>

<body ng-app="AppRetailPos" ng-controller="returnCtrl">
  <div class="app-content">
    <div class="slide-bar">
      <div class="slide-bar__header">
        <div class="app-slideBar">
          <div class="app-slideBar__left">
            <img src="../Shared/img/common/wheel.svg" alt="" class="icon" />
          </div>
          <div class="app-slideBar__right">
            <h1 class="name-app">RetailPro</h1>
            <p class="title-nameApp">Inventory & POS</p>
          </div>
        </div>
      </div>
      <div class="slide-bar__Content">
        <p class="slide-bar__label">{{ t('NAVIGATION') }}</p>
        <!-- menu button Dashboard -->
        <a href="../AdminFE/dashboard.html" ng-if="canShow('dashboard')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/dashboard.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_DASHBOARD') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button POS -->
        <a href="../AdminFE/pos.html" ng-if="canShow('pos')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/pos.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_POS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Products -->
        <a href="../AdminFE/products.html" ng-if="canShow('products')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/product.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_PRODUCTS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Categories -->
        <a href="../AdminFE/categories.html" ng-if="canShow('categories')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/category.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_CATEGORIES') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Promotions -->
        <a href="../AdminFE/promotions.html" ng-if="canShow('promotions')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/promotion.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_PROMOTIONS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Customers -->
        <a href="../AdminFE/customers.html" ng-if="canShow('customers')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/customer.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_CUSTOMERS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Suppliers -->
        <a href="../AdminFE/suppliers.html" ng-if="canShow('suppliers')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/supplier.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_SUPPLIERS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Purchase Orders -->
        <a href="../AdminFE/purchaseorders.html" ng-if="canShow('purchaseOrders')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/purchaseorder.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_PURCHASE_ORDERS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button stock -->
        <a href="../AdminFE/stockcard.html" ng-if="canShow('stock')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/stock.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_STOCK') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Goods Receipts -->
        <a href="../AdminFE/goodsreceipts.html" ng-if="canShow('greceipts')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/goodReceipt.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('GOODS_RECEIPTS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Goods Issues -->
        <a href="../AdminFE/goodsissues.html" ng-if="canShow('gissues')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/goodIssues.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('GOODS_ISSUES') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Sales -->
        <a href="../AdminFE/sales.html" ng-if="canShow('sales')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/sales.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_SALES') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Returns -->
        <a href="../AdminFE/returns.html" ng-if="canShow('returns')">
          <div class="slide-bar__MenuButton slide-bar__MenuButton--active">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/return.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu-active">{{ t('NAV_RETURNS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Payments & Debts -->
        <a href="../AdminFE/payments.html" ng-if="canShow('payments')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/payments.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_PAYMENTS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Reports -->
        <a href="../AdminFE/reports.html" ng-if="canShow('reports')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/report.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_REPORTS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Audit Log -->
        <a href="../AdminFE/auditlog.html" ng-if="canShow('auditLog')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/auditlog.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_AUDIT_LOG') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Users -->
        <a href="../AdminFE/users.html" ng-if="canShow('users')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/user.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_USERS') }}</p>
            </div>
          </div>
        </a>
        <!-- menu button Settings -->
        <a href="../AdminFE/settings.html" ng-if="canShow('settings')">
          <div class="slide-bar__MenuButton">
            <div class="MenuButton-left">
              <img src="../Shared/img/common/setting.svg" alt="" class="icon" />
            </div>
            <div class="MenuButton-right">
              <p class="name-menu">{{ t('NAV_SETTINGS') }}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="slide-bar__footer">
        <div class="app-slide-bar">
          <div class="ava">
            <img class="ava" src="../Shared/img/common/ava.svg" alt="" />
          </div>
          <div class="info">
            <p class="name">{{currentUser.fullname}}</p>
            <p class="role">{{currentUser.role}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="app-layout">
      <div class="top-bar">
        <div class="top-bar__content">
          <div class="top-bar__left">
            <img src="../Shared/img/common/search.svg" alt="" class="icon" />
            <input class="search" type="text" placeholder="Search by name" ng-model="searchPartnerName" />
          </div>

          <div class="top-bar__left">
            <img src="../Shared/img/common/search.svg" alt="" class="icon" />
            <input class="search" type="text" placeholder="Search by phone" ng-model="searchPartnerPhone" />
          </div>
          <div class="top-bar__right">
            <p class="role">{{currentUser.role}}</p>
            <img src="../Shared/img/common/ava.svg" alt="" class="ava" id="avatar" />
          </div>
        </div>
        <div class="top-bar__info" id="information">
          <div class="info-top">
            <p class="name">{{currentUser.fullname}}</p>
            <p class="email">{{currentUser.email}}</p>
          </div>
          <div class="info-mid">
            <a href="#!">
              <p class="set">Profile Settings</p>
            </a>
          </div>
          <div class="info-bottom">
            <img src="../Shared/img/categories/logout.svg" alt="" class="icon" />
            <a href="../AuthFE/login.html">
              <p class="logout">Logout</p>
            </a>
          </div>
        </div>
      </div>

      <div class="app-layout-content">
        <h1 class="name-menu">{{ t('RETURNS') }}</h1>
        <p class="desc">{{ t('RETURNS_DESC') }}</p>
        <div class="display-container">
          <div class="total farme">
            <p class="name-display">{{ t('TOTAL_RETURN') }}</p>
            <p class="data">{{stats.total}}</p>
          </div>
          <div class="avg farme">
            <p class="name-display">{{ t('TOTAL_RETURN_CUSTOMER') }}</p>
            <p class="data">{{stats.returncustomer}}</p>
          </div>
          <div class="most-common farme">
            <p class="name-display">{{ t('TOTAL_RETURN_SUPPLIER') }}</p>
            <p class="data">{{stats.returnsupplier}}</p>
          </div>
        </div>
        <div class="control">
          <div class="control-left">
            <img src="../Shared/img/common/search.svg" alt="" class="icon" />
            <select class="search-type" ng-model="searchReturnType" ng-change="triggerSearch()">
              <option value="">{{ t('RETURN_TYPE_ALL') }}</option>
              <option value="1">{{ t('RETURN_TYPE_CUSTOMER') }}</option>
              <option value="2">{{ t('RETURN_TYPE_SUPPLIER') }}</option>
            </select>
          </div>

          <!-- phân trang -->
          <div class="pager" ng-if="pager.total>0">
            <div class="pager-info">
              {{ t('PAGING_SHOWING') }}
              {{((pager.page-1)*pager.size)+1}}-{{Math.min(pager.page*pager.size,pager.total)}}
              {{ t('PAGING_OF') }} {{pager.total}} {{ t('PAGING_ITEMS') }}
            </div>
            <div class="page-nav">
              <label>
                {{ t('PAGING_PAGE_SIZE') }}:
                <select ng-model="pager.size" ng-change="changeSize()">
                  <option value="0">{{ t('RETURN_TYPE_ALL') }}</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                </select>
              </label>
              <button class="btn ghost" ng-disabled="pager.page === 1" ng-click="go(1)">
                «
              </button>
              <button class="btn ghost" ng-disabled="pager.page === 1" ng-click="go(pager.page-1)">
                {{ t('PAGING_PREV') }}
              </button>
              <span class="page-no"></span>
              <button class="btn ghost" ng-disabled="pager.page >= pager.pages" ng-click="go(pager.page+1)">
                {{ t('PAGING_NEXT') }}
              </button>
              <button class="btn ghost" ng-disabled="pager.page >= pager.pages" ng-click="go(pager.pages)">
                »
              </button>
            </div>
          </div>

          <div class="control-right">
            {{ t('FILTER_FROM_DATE') }}
            <div class="control-date">
              <input class="search" type="date" ng-model="searchFromDate" ng-change="filter()" />
            </div>
            {{ t('FILTER_TO_DATE') }}
            <div class="control-date">
              <input class="search" type="date" ng-model="searchToDate" ng-change="filter()" />
            </div>

            <div class="export" ng-click="exportExcel()">
              <img src="../Shared/img/common/export.svg" alt="" class="icon" />
            </div>
            <div class="add" id="btnOpenAdd">
              <img src="../Shared/img/common/plus.svg" alt="" class="plus" />
              <p class="add-return">{{ t('ADD_RETURN') }}</p>
            </div>
          </div>
        </div>
        <!-- table -->
        <div class="card">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="id">{{ t('TB_RETURN_ID') }}</th>
                  <th class="type">{{ t('TB_RETURN_TYPE') }}</th>
                  <th class="partnername">{{ t('TB_PARTNER_NAME') }}</th>
                  <th class="phone">{{ t('TB_PARTNER_PHONE') }}</th>
                  <th class="productname">{{ t('TB_PRODUCT_NAME') }}</th>
                  <th class="date">{{ t('TB_RETURN_DATE') }}</th>
                  <th class="action txt-right">{{ t('ACTIONS') }}</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="r in returns" style="font-weight: 600">
                  <td>{{r.returnID}}</td>

                  <td>
                    <span class="stock" ng-class="r.returnType == 1 ? 'good' : 'low'">
                      {{ r.returnType == 1 ? 1 : 2 }}
                    </span>
                  </td>

                  <td>{{r.partnerName}}</td>
                  <td>{{r.partnerPhone}}</td>
                  <td>{{r.productName}}</td>
                  <td>{{r.returnDate | date:'yyyy-MM-dd HH:mm'}}</td>

                  <td class="txt-right">
                    <button class="link" ng-click="detail(r)">👁️</button>
                    <button class="link" ng-click="edit(r)">✎</button>
                    <button class="link danger" ng-click="remove(r, $event)">
                      🗑
                    </button>
                  </td>
                </tr>

                <tr ng-if="!returns || returns.length === 0">
                  <td colspan="7" class="empty">No Data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- form -->
        <div class="form">
          <!-- detail -->

          <div class="form-detail">
            <div class="form-detail__content">
              <h3 class="title">{{ t('DETAIL_RETURN') }}</h3>
              <p class="desc">{{ t('DETAIL_RETURN_DESC') }}</p>
              <form name="frmDetail">
                <!-- Cột trái ng-submit="detail()"-->
                <div>
                  <label for="returnID-detail">{{ t('LABEL_RETURN_ID') }}</label>
                  <input type="text" id="returnID-detail" readonly ng-model="detailReturn.returnID" />

                  <label for="returnType-detail">{{ t('LABEL_RETURN_TYPE') }}</label>
                  <input type="text" id="returnType-detail" readonly ng-model="detailReturn.returnType" />

                  <label for="partnerName-detail">{{ t('LABEL_PARTNER_NAME') }}</label>
                  <input type="text" id="partnerName-detail" readonly ng-model="detailReturn.partnerName" />

                  <label for="partnerPhone-detail">{{ t('LABEL_PARTNER_PHONE') }}</label>
                  <input type="text" id="partnerPhone-detail" readonly ng-model="detailReturn.partnerPhone" />

                  <label for="productName-detail">{{ t('LABEL_PRODUCT_NAME') }}</label>
                  <input type="text" id="productName-detail" readonly ng-model="detailReturn.productName" />

                  <label for="returnDate-detail">{{ t('LABEL_RETURN_DATE') }}</label>
                  <input type="date" id="returnDate-detail" readonly ng-model="detailReturn.returnDate" />

                  <label for="reason-detail">{{ t('LABEL_REASON') }}</label>
                  <input type="text" id="reason-detail" readonly ng-model="detailReturn.reason" />
                </div>

                <!-- Cột phải -->
                <div>
                  <label for="saleID-detail">{{ t('LABEL_SALE_ID') }}</label>
                  <input type="text" id="saleID-detail" readonly ng-model="detailReturn.saleID" />

                  <label for="poID-detail">{{ t('LABEL_PO_ID') }}</label>
                  <input type="text" id="poID-detail" readonly ng-model="detailReturn.poid" />


                  <label for="customerID-detail">{{ t('LABEL_CUSTOMER_ID') }}</label>
                  <input type="text" id="customerID-detail" readonly ng-model="detailReturn.customerID" />

                  <label for="supplierID-detail">{{ t('LABEL_SUPPLIER_ID') }}</label>
                  <input type="text" id="supplierID-detail" readonly ng-model="detailReturn.supplierID" />

                  <label for="productID-detail">{{ t('LABEL_PRODUCT_ID') }}</label>
                  <input type="text" id="productID-detail" readonly ng-model="detailReturn.productID" />

                  <label for="quantity-detail">{{ t('LABEL_QUANTITY') }}</label>
                  <input type="text" id="quantity-detail" readonly ng-model="detailReturn.quantity" />

                  <label for="unitPrice-detail">{{ t('LABEL_UNIT_PRICE') }}</label>
                  <input type="text" id="unitPrice-detail" readonly ng-model="detailReturn.unitPrice" />
                </div>

                <!-- Footer -->
                <div class="dialog-footer">
                  <button type="button" class="cancel" ng-click="closeForm()">
                    {{ t('BTN_CANCEL') }}
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="form-add">
            <div class="form-add__content">
              <h3 class="title">{{ t('ADD_RETURN_TITLE') }}</h3>
              <p class="desc">{{ t('ADD_RETURN_DESC') }}</p>
              <form name="frmAdd" ng-submit="add()">
                <!-- Cột trái -->
                <div>
                  <label for="type-add">{{ t('SEARCH_RETURN_TYPE') }}*</label>
                  <select id="type-add" required ng-model="newReturn.ReturnType" ng-change="onTypeChange()">
                    <option value="1">{{ t('RETURN_TYPE_CUSTOMER') }}</option>
                    <option value="2">{{ t('RETURN_TYPE_SUPPLIER') }}</option>
                  </select>

                  <label for="date-add">{{ t('LABEL_RETURN_DATE') }}*</label>
                  <input type="date" id="date-add" required ng-model="newReturn.ReturnDate" />

                  <label for="reason-add">{{ t('LABEL_REASON') }}</label>
                  <input type="text" id="readon-add" ng-model="newReturn.Reason" />
                </div>

                <!-- Cột phải -->
                <div>
                  <label for="saleID-add">{{ t('LABEL_SALE_ID') }}*</label>
                  <input type="number" id="saleID-add" ng-model="newReturn.SaleID"
                    ng-disabled="newReturn.ReturnType != 1" />

                  <label for="poID-add">{{ t('LABEL_PO_ID') }}*</label>
                  <input type="number" id="poID-add" ng-model="newReturn.POID"
                    ng-disabled="newReturn.ReturnType != 2" />


                  <label for="productID-add">{{ t('LABEL_PRODUCT_ID') }}*</label>
                  <input type="number" id="productID-add" ng-model="newReturn.ProductID" />

                  <label for="quantity-add">{{ t('LABEL_QUANTITY') }}*</label>
                  <input type="number" id="quantity-add" ng-model="newReturn.Quantity" min="1" step="1" />
                </div>

                <!-- Footer -->
                <div class="dialog-footer">
                  <button type="button" class="cancel">
                    {{ t('BTN_CANCEL') }}
                  </button>
                  <input class="submit" type="submit" value="{{ t('BTN_ADD_RETURN') }}"
                    ng-disabled="frmAdd.$invalid||savingAdd" />
                </div>
              </form>
            </div>
          </div>
          <!-- edit -->

          <!-- =================== FORM EDIT =================== -->
          <div class="form-edit">
            <div class="form-edit__content">
              <h3 class="title">{{ t('EDIT_RETURN_TITLE') }}</h3>
              <p class="desc">{{ t('ADD_RETURN_DESC') }}</p>

              <form name="frmEdit" ng-submit="updateReturn()">
                <!-- ===== Cột trái ===== -->
                <div>
                  <label for="ReturnID-edit">{{ t('LABEL_RETURN_ID') }}*</label>
                  <input type="text" id="ReturnID-edit" disabled placeholder="Enter "
                    ng-model="editingReturn.ReturnID" />

                  <label for="ReturnType-edit">{{ t('LABEL_RETURN_TYPE') }}*</label>
                  <select id="ReturnType-edit" ng-model="editingReturn.ReturnType"
                    ng-options="t.value as t.label for t in returnTypes" required></select>

                  <label for="ReturnDate-edit">{{ t('LABEL_RETURN_DATE') }}*</label>
                  <input type="date" id="ReturnDate-edit" placeholder="Enter " ng-model="editingReturn.ReturnDate" />

                  <label for="Reason-edit">{{ t('LABEL_REASON') }}</label>
                  <input type="text" id="Reason-edit" placeholder="Enter " ng-model="editingReturn.Reason" />
                </div>

                <!-- ===== Cột phải ===== -->
                <div>
                  <label for="SaleID-edit">{{ t('LABEL_SALE_ID') }}</label>
                  <input type="number" id="SaleID-edit" placeholder="Enter " ng-disabled="editingReturn.ReturnType != 1"
                    ng-model="editingReturn.SaleID" />

                  <label for="POID-edit">{{ t('LABEL_PO_ID') }}</label>
                  <input type="number" id="POID-edit" ng-disabled="editingReturn.ReturnType != 2"
                    ng-model="editingReturn.POID" />


                  <label for="ProductID-edit">{{ t('LABEL_PRODUCT_ID') }}</label>
                  <input type="number" id="ProductID-edit" placeholder="Enter" ng-model="editingReturn.ProductID" />

                  <label for="Quantity-edit">{{ t('LABEL_QUANTITY') }}</label>
                  <input type="number" id="Quantity-edit" placeholder="Enter" ng-model="editingReturn.Quantity" />
                </div>

                <!-- ===== Footer ===== -->
                <div class="dialog-footer">
                  <button type="button" class="cancel">
                    {{ t('BTN_CANCEL') }}
                  </button>
                  <input class="submit" type="submit" value="{{ t('EDIT_RETURN') }} "
                    ng-disabled="frmEdit.$invalid || savingEdit" />
                </div>
              </form>
            </div>
          </div>

          <!-- delete -->
          <div class="form-delete" ng-class="{open:showDelete}" ng-click="closeDeleteOnOverlay($event)">
            <div class="form-delete__content">
              <h3 class="title">{{ t('EDIT_RETURN_TITLE') }}</h3>
              <p class="desc">
                {{ t('DELETE_RETURN_CONFIRM1') }} "{{deleting.ReturnID}}"? {{
                t('DELETE_RETURN_CONFIRM2') }}
              </p>
              <div class="dialog-footer">
                <button class="cancel" ng-click="cancelDelete($event)">
                  {{ t('BTN_CANCEL') }}
                </button>
                <button type="button" class="submit danger" ng-click="confirmDelete()" ng-disabled="deletingBusy">
                  {{ t('BTN_DELETE_RETURN') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../Shared/js/returnfe.js"></script>
  \

  <!-- Đây là FileSaver.js — thư viện giúp bạn tải file từ trình duyệt (client-side). -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</body>

</html>