* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục font chữ */
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  margin: 0;
}

/* =====================common==================== */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

input:focus {
  outline: none;
  border: 1px solid #0ea5e9;
  border-bottom: none;
  box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.3);
}

/* ====================main====================== */
.app-content {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* ====================slide-bar===================== */
.slide-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 255px;
  border-right: 1px solid #000;
  background: #fff;
}

.slide-bar__header {
  padding: 16px;
  border: 1px solid #ccc;
  border-right: none;
}

.slide-bar__header .app-slideBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.app-slideBar__left {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  background: #0ea5e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-slideBar__right .name-app {
  color: #0f172a;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.app-slideBar__right .title-nameApp {
  color: #64748b;
  font-family: Inter;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 2px;
}

.slide-bar__Content {
  padding: 8px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.slide-bar__label {
  padding: 0 8px;
  color: rgba(15, 23, 42, 0.7);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
}

.slide-bar__MenuButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
}

.MenuButton-right {
  color: #0f172a;
  font-size: 1.4rem;
  line-height: 1.43;
}

.name-menu-active {
  font-weight: 500;
}

.slide-bar__MenuButton--active {
  border-radius: 10px;
  background: #f8fafc;
}

.slide-bar__MenuButton:hover {
  border-radius: 10px;
  background: #f8fafc;
}
.slide-bar__footer {
  border-top: 1px solid #ccc;
  padding: 16px;
}

.slide-bar__footer .app-slide-bar {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.app-slide-bar .ava {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-slide-bar .info .name {
  color: #0f172a;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
}

.app-slide-bar .info .role {
  color: #64748b;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.app-slide-bar {
  border-radius: 12px;
  background: #f8fafc;
}

/* ====================app-layout================== */
.app-layout {
  margin-left: 255px;
  height: 100vh;
  width: calc(100vw - 255px);
  overflow: auto;
  min-width: 0;
}

.top-bar {
  position: relative;
  padding: 8px 0px;
  border-bottom: 1px solid #ccc;
}

.top-bar__content {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__left {
  position: relative;
}

.top-bar__left .search {
  width: 448px;
  height: 36px;
  padding: 4px 12px 4px 40px;
  border-radius: 10px;
  border: 0.889px solid #e2e8f0;
  background: rgba(248, 250, 252, 0.5);
}

.top-bar__left .icon {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 12px;
  right: 12px;
}

.top-bar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.top-bar__right .role {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 21px;
  padding: 2px 8px;
  border-radius: 10px;
  border: 0.889px solid rgba(14, 165, 233, 0.2);
  background: rgba(14, 165, 233, 0.1);
  color: #0ea5e9;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
  cursor: default;
}

.top-bar__right .ava {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.top-bar__info {
  display: none;
  position: absolute;
  z-index: 1;
  right: 32px;
  width: 224px;
  height: 130px;
  border-radius: 10px;
  border: 0.889px solid #e2e8f0;
  background: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.info-top {
  padding: 10px 12px;
  border-bottom: 1px solid #ccc;
}

.info-top .name {
  color: #0f172a;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
}

.info-top .email {
  color: #64748b;
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.5;
}

.info-mid {
  padding: 4px;
}

.set {
  color: #0f172a;
  font-size: 1.4rem;
  line-height: 1.43;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
}

.info-bottom {
  display: flex;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  gap: 16px;
  border-top: 1px solid #ccc;
}

.info-bottom .icon {
  margin: 0;
}

.logout {
  margin: 0;
  color: #ef4444;
  font-size: 1.4rem;
  line-height: 1.43;
}

.top-bar__info.active {
  display: block;
}
